html, body {
  height: 100%;
}
body {
  background-color: #249991;
  color: #F0F1F5;
  font-size: 18px;
}
header {
  padding-top: 2rem;
}
h2 {
  font-size: 2.5rem;
  padding-bottom: .5rem;
}

a {
  color: #112233;
  text-decoration: underline;
}
a:hover {
  color: #F0F1F5;
}

ul {
  padding-left: 1rem;
  margin-top: -12px;
}
i {
  margin-right: 8px;
  color: #112233;
}
.list-unstyled > li > a {
  color: #F0F1F5;
  text-decoration: none;
  font-size: 18px;
}
.list-unstyled > li > a:hover {
  color: #112233;
}
.page-title {
 color: #F0F1F5;
 font-size: 1.5rem;
 text-decoration: none;
}
.page-title:hover {
  text-decoration: none;
  color: #F0F1F5;
}

footer {
  margin-bottom: 0;
}
footer, ul {
  margin-bottom: 8px;
}

.navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.navbar-nav {
  padding-top: 2rem;
}
.sub-link {
  margin-left: 2rem;
}

.credits {
  text-align: center;
}
.small {
  margin-bottom: 0;
}

.hero-content {
  padding-bottom: 12rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  min-height: auto;
}
.fa-2x {
  vertical-align: middle;
}

.anchor {
  padding-top: 4rem;
}

@media (min-width: 1200px) {
  .container {
    padding-left: 15%;
    padding-right: 15%;
  }

}
@media (max-width: 768px){
   .action-buttons {
    margin-top: 2rem;
    margin-left: -1.5rem;
    
  }

  .hero-content {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 578px){
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
  .action-buttons {
    margin-top: 1.5rem;
    margin-left: -1.5rem;
    
  }

  .hero-content {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

}
@media (max-width: 440px){


}
