body {
  background-color: #F7EDE2;
  color: #3B341F;
  font-family: 'Arimo', sans-serif;

}
h1, h2, h3, h4, h5, h6 {
  color: #1B3022;
  font-family: 'Inconsolata', monospace;

}
a {
  color: #C1292E;
}
.navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #249991;
}
.navbar-nav {
  margin-top: 1px;

}


.page-title {
 color: #F0F1F5;
 font-size: 1.5rem;
 text-decoration: none;
}
.page-title:hover {
 color: #F0F1F5;
 font-size: 1.5rem;
 text-decoration: none;
}

.navbar-toggler {
  background-color: #005057;
  color: #F7EDE2;
  border: 1px solid #005057;
  padding: 10px 20px;
  
}
.navbar-toggler:focus{
 outline: none;
}

.nav-link {
  text-decoration: none;
  color: #F7EDE2;
}
.nav-link:hover {
  text-decoration: underline;
  color: #F7EDE2;
}
.main {
  margin-top: 3rem;
}
#footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  padding-bottom: .5rem;
}
#footer .credits a {
  color: #007bff;
}



.row {
  margin-top: 1.5rem;
}

.nested {
  margin-left: -2.5rem;
}
.nested li {
  list-style: none;
  margin: .5rem 0;
}

.venue-title {
  font-size: 1.5rem;
  margin-bottom: -1px;
}
.notes-header {
  margin-bottom: -1px;
  font-weight: 700;
}
.credits {
  margin-top: -.5rem;
}

@media only screen and (min-width: 990px) {
  .container {
    width: 75%;
  }
}
@media only screen and (max-width: 768px) {
  .page-title {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 440px){
  .map > iframe {
    width: 100%;
  }
  .page-title {
    font-size: 1.25rem;
  }
  .navbar-toggler {

  padding: 8px 16px;
  
}
}
